@charset"utf-8";

/* ========================================
    リセットcss
========================================= */
/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-style:normal;
	font-weight: normal;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{overflow-y: scroll;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
input, textarea,{margin: 0; padding: 0;}
ol, ul{list-style:none;}
table{border-collapse: collapse; border-spacing:0;}
caption, th{text-align: left;}
a:focus {outline:none;}

/* micro clearfix */
/*
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {clear: both;}
.cf {*zoom: 1;} */

/* ========================================  　
    基本設定
========================================= */
* {
	box-sizing: border-box;
}

body {
	background: url("/img/kai-pilger-7YwWjgS7aJs-unsplash.jpeg");
	background-size: 100%;
	background-attachment: fixed;
	background-size: cover;
	
}

div#wrapper {
	width: 960px;
	margin: 0 auto;
}

/* ========================================  　
    ヘッダー
========================================= */
header {
	width: 980px;
	height: 89px;
	/* background-color:#036038;  */
	margin-bottom: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	/*position:fixed;*/

	box-shadow:0px 1px rgba(0,0,0,5);
}

.btn {
	color: #fff;
	display: inline-block;
	background-color: rgba(108, 77, 77, 0.9);
	text-decoration: none;
	padding: 8px 24px;
	text-shadow:1px 1px 0 #000;
	border-radius: 10px;
	box-shadow:3px 3px rgba(62, 46, 46, 0.9);
	font-size: 18px;
}

.btn:hover {
	color: orange;
	background-color: rgba(108, 77, 77, 1);
	box-shadow:3px 3px rgba(81, 59, 59, 1);
}

.btn:active {
	box-shadow:1px 1px rgba(81, 59, 59, 1);
	position: relative;
	top: 2px;
	left: 2px;
}

h1 {
	font-size: 40px;
	font-weight: 900;
	font-family: 'Roboto', sans-serif;
	/* background-color: #036038; */
	margin: 0 auto;
	line-height: 89px;
	color: #fff;
	text-shadow:1px 1px 0 #000/*, -1px -1px 0 #000,
 		              -1px 1px 0 #000, 1px -1px 0 #000,
 		              0px 1px 0 #000,  0-1px 0 #000,
 		              -1px 0 0 #000*/;

}

/* ========================================  　
    メイン
========================================= */

div#main {
	width: 960px;
	height: auto;
	/* background-color: yellow;  */
	/* margin:0 0 20px 0; */
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 25px;
  

}

div#image {
	width: 300px;
	height: 300px;
	background-color: blueviolet;
	opacity: 0.5;
}

/* div#digest {
	
} */

div#detail {
	margin-top: 60px;
}

label {
	color: #fff;
	text-shadow:1px 1px 0 #000/*, -1px -1px 0 #000,
 		              -1px 1px 0 #000, 1px -1px 0 #000,
 		              0px 1px 0 #000,  0-1px 0 #000,
 		              -1px 0 0 #000, 1px 0 0 #000*/;

}

.btn_update {
	margin-top: 30px;
}

#cospa {
	background-color: #fff;
	border: 1px solid rgb(116, 116, 116);
	border-radius: 2px;
	font-size: 12px;
	line-height: 40px;
	padding-left: 3px;
}

div.clear {
	clear:both;
}

/* ========================================  　
    フッター
========================================= */

footer {
	width: 100%;
	height: 50px;
	/* background-color:black; */
	margin-top: 20px;
	display: flex;
	justify-content:center
}

footer .btn {
	margin: auto;
	
} 

/* レスポンシブ */
@media(max-width:600px){
	body,
	div#wrapper,
	div#main {
		width: 100%;
		padding: 0.4%;
	}
	header {
		width: 100%;
		margin-bottom: 30px;
	}
	
	
	div#main {
		flex-direction: column;
		align-items: center;
		height: auto;
	}
}

